<h1>Sample App</h1>
<p>
This is the home page for the
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>

<h2>This is a sub section</h2>
<ol>
  <li>One</li>
  <li>Two</li>
</ol>

<ul>
  <li>du du di</li>
  <li>di di du</li>
</ul>